<!-- <form action="">
    <div class="forms-group">
        <label for="firstName">First Name</label>
        <input ID="firstName" type="text" class="forms-control" />
    </div>

    <div class="forms-group">
        <label for="comments">comments</label
    ><textarea name="" id="comments" cols="30" rows="10"></textarea>
  </div>
  <button class="btn btn-primary">Submit</button>
</form> -->
<!------------------------------------------- ngFor -->
<div>
    <!-- <passenger-dashboard> </passenger-dashboard> -->
    <app-passenger-dashboard></app-passenger-dashboard>
    < </div>